
.accordion__button {
  display: none;

  @include vp-767 {
    display: inline-flex;
    border: none;
    background-color: $color-background-dark;
    background-image: url("../../img/svg/accordion-open-btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
    cursor: pointer;

    &_closed {
      background-image: url("../../img/svg/accordion-close-btn.svg");
    }

    &_hidden {
      display: none;
    }
  }
}

.accordion__body {
  &_closed {
    display: none;
  }
}
