.footer {
  background-color: #041827;
  padding-top: 50px;
  padding-bottom: 55px;

  @include vp-1023 {
    padding-top: 50px;
  }

  @include vp-767 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.footer__content {
  display: grid;
  grid-template-columns: minmax(250px, 345px) minmax(220px, 470px) minmax(250px, 345px);
  column-gap: 30px;

  @include vp-1023 {
    grid-template-columns: 1fr 320px;
    column-gap: 130px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
  }
}

.footer__iner {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-right: 30px;

  @include vp-1023 {
    grid-column: 1/-1;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
  }

  @include vp-767 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 28px;
    border-bottom: 1px solid $color-white;
  }
}

.footer__logo {
  display: inline-flex;
  margin-bottom: 27px;

  svg {
    display: block;
  }

  &:focus {
    outline: 2px solid $color-focus-outline;
  }

  @include vp-1023 {
    margin-bottom: 32px;
  }

  @include vp-767 {
    margin-bottom: 10px;
    position: relative;
    left: -2px;
  }
}

.footer__social {
  padding-left: 10px;

  @include vp-1023 {
    padding-left: 0;
    padding-top: 10px;
  }
}

.footer__nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  column-width: 220px;
  column-gap: 30px;

  @include vp-1023 {
    column-count: 1;
  }
}

.footer__nav-item {
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 8px;
  width: 220px;

  @include vp-1023 {
    margin-bottom: 8px;
  }
}

